USE [master]
GO
/****** Object:  Database [Biblioteca2]    Script Date: 19/04/2019 13:22:36 ******/
CREATE DATABASE [Biblioteca2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Biblioteca2', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Biblioteca2.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Biblioteca2_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Biblioteca2_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Biblioteca2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Biblioteca2]
GO
/****** Object:  StoredProcedure [dbo].[ReporteCantidadDeLibrosPorGenero]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ReporteCantidadDeLibrosPorGenero]
@genero varchar(50)
as
begin
select Genero.vGenero, COUNT(Libro.IdLibro) as CantidadDeLibrosPorGenero
from Libro
join Genero on Libro.IdGenero = Genero.IdGenero
where Genero.vGenero = @genero
GROUP BY  vGenero
end
GO
/****** Object:  StoredProcedure [dbo].[ReporteEntregaMasRapida]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ReporteEntregaMasRapida]
@matricula int
as
begin
select Estudiante.Matricula, MIN(Prestamo.Entrega) as EntregaMasRapida
from Prestamo
join Estudiante on Prestamo.IdAlumno = Estudiante.IdAlumno
where Estudiante.Matricula = @matricula
GROUP BY Matricula
ORDER BY MIN(Prestamo.Entrega)
end
GO
/****** Object:  StoredProcedure [dbo].[ReporteLibroInfoAutor]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ReporteLibroInfoAutor]
as
begin
select Libro.Titulo, Autor.*
from Libro
right join Autor on Libro.IdAutor = Autor.IdAutor
end
GO
/****** Object:  StoredProcedure [dbo].[ReporteLibrosPorAutor]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ReporteLibrosPorAutor]
@nombre varchar(50)
as
begin
select Autor.Nombre_Autor, COUNT(Libro.IdLibro) as LibrosPorAutor
from Libro
join Autor on Libro.IdAutor = Autor.IdAutor
where Autor.Nombre_Autor = @nombre
GROUP BY  Nombre_Autor
end
GO
/****** Object:  StoredProcedure [dbo].[ReporteMaximoDeVecesPrestado]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ReporteMaximoDeVecesPrestado]
@titulo varchar(50)
as
begin
select Libro.Titulo, COUNT(Prestamo.IdPrestamo) as MaximoDeVecesPrestado
from Prestamo
join Libro on Prestamo.IdLibro = Libro.IdLibro
where Libro.Titulo = @titulo
GROUP BY Titulo
end
GO
/****** Object:  StoredProcedure [dbo].[ReporteMinimaMulta]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ReporteMinimaMulta]
@matricula int
as
begin
select Estudiante.Matricula, MIN(Multa.Cargo) as MinimaMulta
from Multa
left join Estudiante on Multa.IdAlumno = Estudiante.IdAlumno
where Estudiante.Matricula = @matricula
GROUP BY Matricula
ORDER BY MIN(Multa.Cargo)
end
GO
/****** Object:  StoredProcedure [dbo].[ReporteMultaMayor]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ReporteMultaMayor]
as
begin
select Estudiante.Matricula, Multa.Cargo
from Multa
join Estudiante on Multa.IdAlumno = Estudiante.IdAlumno
where Multa.Cargo > 50.0000
end
GO
/****** Object:  StoredProcedure [dbo].[ReporteNumeroDeAlumnosQueTomaEsteLibro]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ReporteNumeroDeAlumnosQueTomaEsteLibro]
@titulo varchar(50)
as
begin
select Libro.Titulo, SUM(Prestamo.IdAlumno) as NumeroDeAlumnosQueTomaEsteLibro
from Libro 
join Prestamo on Prestamo.IdLibro = Libro.IdLibro
where Libro.Titulo = @titulo
GROUP BY Titulo
end
GO
/****** Object:  StoredProcedure [dbo].[ReportePromedioDeMultaPorLibro]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ReportePromedioDeMultaPorLibro]
@titulo varchar(50)
as
begin
select Libro.Titulo, AVG(Multa.Cargo) as PromedioDeMultaPorLibro
from Multa
join Libro on Multa.IdLibro = Libro.IdLibro
where Libro.Titulo = @titulo
GROUP BY Titulo
end
GO
/****** Object:  StoredProcedure [dbo].[ReporteSumaDeFacturasPorAlumno]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ReporteSumaDeFacturasPorAlumno]
@matricula int
as
begin
select  Estudiante.Matricula, Sum(Factura.IdFactura) as SumaDeFacturasPorAlumno
from Factura
join Estudiante on Factura.IdAlumno = Estudiante.IdAlumno
where Estudiante.Matricula = @matricula 
GROUP BY Matricula
end
GO
/****** Object:  UserDefinedFunction [dbo].[fnDividir]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[fnDividir] (@n1 int, @n2 int)
returns decimal(10,3)
begin
	return @n1/@n2
end
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Autor](
	[IdAutor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Autor] [varchar](50) NOT NULL,
	[Apellido_Autor] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Carrera](
	[IdCarrera] [int] IDENTITY(1,1) NOT NULL,
	[vCarrera] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Editorial](
	[IdEditorial] [int] IDENTITY(1,1) NOT NULL,
	[Empresa] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estudiante](
	[IdAlumno] [int] IDENTITY(1,1) NOT NULL,
	[Matricula] [int] NOT NULL,
	[IdCarrera] [int] NOT NULL,
	[Apellido_A] [varchar](50) NOT NULL,
	[Apellido2_A] [varchar](50) NOT NULL,
	[cStatus_A] [char](1) NOT NULL,
	[Sexo] [char](1) NULL,
	[Nombre_A] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[fecha_Factura] [date] NOT NULL,
	[IdPrestamo] [int] NOT NULL,
	[IdAlumno] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Genero]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Genero](
	[IdGenero] [int] IDENTITY(1,1) NOT NULL,
	[vGenero] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Libro](
	[IdLibro] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](50) NULL,
	[ISBN] [int] NULL,
	[IdAutor] [int] NOT NULL,
	[IdEditorial] [int] NOT NULL,
	[cStatus_L] [char](1) NOT NULL,
	[IdSector] [int] NOT NULL,
	[IdGenero] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Multa]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Multa](
	[IdMulta] [int] IDENTITY(1,1) NOT NULL,
	[Cargo] [money] NOT NULL,
	[IdLibro] [int] NOT NULL,
	[IdAlumno] [int] NOT NULL,
	[IdPrestamo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prestamo]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamo](
	[IdPrestamo] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Prestamo] [date] NOT NULL,
	[Fecha_Exp] [date] NOT NULL,
	[Entrega] [date] NOT NULL,
	[IdAlumno] [int] NOT NULL,
	[IdLibro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPrestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sector]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sector](
	[IdSector] [int] IDENTITY(1,1) NOT NULL,
	[Seccion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSector] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[AutorView]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[AutorView] as 
select a.*
from Autor a

GO
/****** Object:  View [dbo].[CarreraView]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[CarreraView] as 
select c.*
from Carrera c

GO
/****** Object:  View [dbo].[EditorialView]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[EditorialView] as 
select e.*
from Editorial e

GO
/****** Object:  View [dbo].[EstudianteView]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[EstudianteView] as 
select e.*, Carrera.vCarrera 
from Estudiante e
join Carrera on e.IdCarrera = Carrera.IdCarrera

GO
/****** Object:  View [dbo].[FacturaView]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[FacturaView] as 
select f.IdFactura, f.fecha_Factura, Prestamo.*, Estudiante.Matricula
from Factura f
join Prestamo on f.IdPrestamo = Prestamo.IdPrestamo
join Estudiante on f.IdAlumno = Estudiante.IdAlumno

GO
/****** Object:  View [dbo].[GeneroView]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[GeneroView] as 
select g.*
from Genero g

GO
/****** Object:  View [dbo].[InfoLib]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[InfoLib] as select l.IdLibro, l.Titulo, l.ISBN, a.Nombre_Autor, e.Empresa, l.cStatus_L, g.vGenero from Libro l,Genero g,Autor a,Editorial e
where l.IdLibro = IdLibro
GO
/****** Object:  View [dbo].[InfoLib2]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[InfoLib2] as select l.IdLibro, l.Titulo, l.ISBN, a.Nombre_Autor, e.Empresa, l.cStatus_L, g.vGenero from Libro l,Genero g,Autor a,Editorial e
where l.IdLibro = IdLibro and l.IdAutor = a.IdAutor and l.IdEditorial = e.IdEditorial and l.IdGenero = g.IdGenero
GO
/****** Object:  View [dbo].[InfoLibros]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[InfoLibros] as select idLibro, Titulo, ISBN, IdAutor, IdEditorial, cStatus_L, IdGenero from Libro
where IdLibro = IdLibro
GO
/****** Object:  View [dbo].[LibroView]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[LibroView] as
select l.IdLibro, l.Titulo, l.ISBN, Autor.Nombre_Autor, Autor.Apellido_Autor, Editorial.Empresa, 
		l.cStatus_L, Sector.Seccion, Genero.vGenero
from Libro l
join Autor on l.IdAutor = Autor.IdAutor
join Editorial on l.IdEditorial = Editorial.IdEditorial
join Sector on l.IdSector = Sector.IdSector
join Genero on l.IdGenero = Genero.IdGenero

GO
/****** Object:  View [dbo].[MultaView]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[MultaView] as
select m.IdMulta, m.Cargo, Libro.Titulo, Estudiante.Matricula, Prestamo.IdPrestamo
from Multa m
join Estudiante on m.IdAlumno = Estudiante.IdAlumno
join Libro on m.IdLibro = Libro.IdLibro
join Prestamo on m.IdPrestamo = Prestamo.IdPrestamo

GO
/****** Object:  View [dbo].[PrestamoView]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[PrestamoView] as 
select p.IdPrestamo, p.Fecha_Prestamo, p.Fecha_Exp, p.Entrega, Estudiante.Matricula, Libro.Titulo
from Prestamo p
join Estudiante on p.IdAlumno = Estudiante.IdAlumno
join Libro on p.IdLibro = Libro.IdLibro

GO
/****** Object:  View [dbo].[SectorView]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[SectorView] as 
select s.*
from Sector s

GO
SET IDENTITY_INSERT [dbo].[Autor] ON 

INSERT [dbo].[Autor] ([IdAutor], [Nombre_Autor], [Apellido_Autor]) VALUES (1, N'Stephen', N'King')
INSERT [dbo].[Autor] ([IdAutor], [Nombre_Autor], [Apellido_Autor]) VALUES (2, N'Dross', N'Rootzank')
INSERT [dbo].[Autor] ([IdAutor], [Nombre_Autor], [Apellido_Autor]) VALUES (3, N'Juanito', N'Banana')
SET IDENTITY_INSERT [dbo].[Autor] OFF
SET IDENTITY_INSERT [dbo].[Carrera] ON 

INSERT [dbo].[Carrera] ([IdCarrera], [vCarrera]) VALUES (1, N'LCC')
INSERT [dbo].[Carrera] ([IdCarrera], [vCarrera]) VALUES (2, N'LMAD')
INSERT [dbo].[Carrera] ([IdCarrera], [vCarrera]) VALUES (3, N'LA')
SET IDENTITY_INSERT [dbo].[Carrera] OFF
SET IDENTITY_INSERT [dbo].[Editorial] ON 

INSERT [dbo].[Editorial] ([IdEditorial], [Empresa]) VALUES (1, N'Gedisa')
INSERT [dbo].[Editorial] ([IdEditorial], [Empresa]) VALUES (2, N'Inde')
INSERT [dbo].[Editorial] ([IdEditorial], [Empresa]) VALUES (3, N'Routledge')
SET IDENTITY_INSERT [dbo].[Editorial] OFF
SET IDENTITY_INSERT [dbo].[Estudiante] ON 

INSERT [dbo].[Estudiante] ([IdAlumno], [Matricula], [IdCarrera], [Apellido_A], [Apellido2_A], [cStatus_A], [Sexo], [Nombre_A]) VALUES (1, 1234567, 1, N'Martinez', N'Garcia', N'1', N'M', N'Victor Hugo')
INSERT [dbo].[Estudiante] ([IdAlumno], [Matricula], [IdCarrera], [Apellido_A], [Apellido2_A], [cStatus_A], [Sexo], [Nombre_A]) VALUES (2, 1234967, 1, N'Martinez', N'Gutierrez', N'0', N'M', N'Hugo')
INSERT [dbo].[Estudiante] ([IdAlumno], [Matricula], [IdCarrera], [Apellido_A], [Apellido2_A], [cStatus_A], [Sexo], [Nombre_A]) VALUES (3, 1244467, 1, N'Garcia', N'Gutierrez', N'1', N'M', N'Victor')
SET IDENTITY_INSERT [dbo].[Estudiante] OFF
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([IdFactura], [fecha_Factura], [IdPrestamo], [IdAlumno]) VALUES (1, CAST(0x433F0B00 AS Date), 1, 5)
INSERT [dbo].[Factura] ([IdFactura], [fecha_Factura], [IdPrestamo], [IdAlumno]) VALUES (2, CAST(0xBD3F0B00 AS Date), 12, 8)
INSERT [dbo].[Factura] ([IdFactura], [fecha_Factura], [IdPrestamo], [IdAlumno]) VALUES (3, CAST(0x5F3F0B00 AS Date), 16, 5)
SET IDENTITY_INSERT [dbo].[Factura] OFF
SET IDENTITY_INSERT [dbo].[Genero] ON 

INSERT [dbo].[Genero] ([IdGenero], [vGenero]) VALUES (1, N'Terror')
INSERT [dbo].[Genero] ([IdGenero], [vGenero]) VALUES (2, N'Psicologico')
INSERT [dbo].[Genero] ([IdGenero], [vGenero]) VALUES (3, N'Ciencia Ficcion')
SET IDENTITY_INSERT [dbo].[Genero] OFF
SET IDENTITY_INSERT [dbo].[Libro] ON 

INSERT [dbo].[Libro] ([IdLibro], [Titulo], [ISBN], [IdAutor], [IdEditorial], [cStatus_L], [IdSector], [IdGenero]) VALUES (1, N'50 Sombras de Wilson', 1234567890, 13, 13, N'1', 10, 7)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [ISBN], [IdAutor], [IdEditorial], [cStatus_L], [IdSector], [IdGenero]) VALUES (2, N'Focus', 1234567891, 1, 1, N'1', 1, 5)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [ISBN], [IdAutor], [IdEditorial], [cStatus_L], [IdSector], [IdGenero]) VALUES (3, N'Avengers', 1234567892, 2, 3, N'0', 1, 3)
SET IDENTITY_INSERT [dbo].[Libro] OFF
SET IDENTITY_INSERT [dbo].[Multa] ON 

INSERT [dbo].[Multa] ([IdMulta], [Cargo], [IdLibro], [IdAlumno], [IdPrestamo]) VALUES (1, 50.0000, 6, 5, 1)
INSERT [dbo].[Multa] ([IdMulta], [Cargo], [IdLibro], [IdAlumno], [IdPrestamo]) VALUES (2, 50.0000, 10, 35, 2)
INSERT [dbo].[Multa] ([IdMulta], [Cargo], [IdLibro], [IdAlumno], [IdPrestamo]) VALUES (5, 30.0000, 3, 8, 12)
SET IDENTITY_INSERT [dbo].[Multa] OFF
SET IDENTITY_INSERT [dbo].[Prestamo] ON 

INSERT [dbo].[Prestamo] ([IdPrestamo], [Fecha_Prestamo], [Fecha_Exp], [Entrega], [IdAlumno], [IdLibro]) VALUES (1, CAST(0x263F0B00 AS Date), CAST(0x9F3F0B00 AS Date), CAST(0x433F0B00 AS Date), 5, 6)
INSERT [dbo].[Prestamo] ([IdPrestamo], [Fecha_Prestamo], [Fecha_Exp], [Entrega], [IdAlumno], [IdLibro]) VALUES (2, CAST(0x5E3F0B00 AS Date), CAST(0xFB3F0B00 AS Date), CAST(0x7D3F0B00 AS Date), 5, 10)
INSERT [dbo].[Prestamo] ([IdPrestamo], [Fecha_Prestamo], [Fecha_Exp], [Entrega], [IdAlumno], [IdLibro]) VALUES (3, CAST(0x7F3F0B00 AS Date), CAST(0x18400B00 AS Date), CAST(0x9D3F0B00 AS Date), 3, 3)
SET IDENTITY_INSERT [dbo].[Prestamo] OFF
SET IDENTITY_INSERT [dbo].[Sector] ON 

INSERT [dbo].[Sector] ([IdSector], [Seccion]) VALUES (1, N'Estanteria 1')
INSERT [dbo].[Sector] ([IdSector], [Seccion]) VALUES (2, N'Estanteria 2')
INSERT [dbo].[Sector] ([IdSector], [Seccion]) VALUES (3, N'Estanteria 3')
SET IDENTITY_INSERT [dbo].[Sector] OFF
ALTER TABLE [dbo].[Estudiante]  WITH CHECK ADD FOREIGN KEY([IdCarrera])
REFERENCES [dbo].[Carrera] ([IdCarrera])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[Estudiante] ([IdAlumno])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([IdPrestamo])
REFERENCES [dbo].[Prestamo] ([IdPrestamo])
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([IdAutor])
REFERENCES [dbo].[Autor] ([IdAutor])
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([IdEditorial])
REFERENCES [dbo].[Editorial] ([IdEditorial])
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([IdGenero])
REFERENCES [dbo].[Genero] ([IdGenero])
GO
ALTER TABLE [dbo].[Libro]  WITH CHECK ADD FOREIGN KEY([IdSector])
REFERENCES [dbo].[Sector] ([IdSector])
GO
ALTER TABLE [dbo].[Multa]  WITH CHECK ADD FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[Estudiante] ([IdAlumno])
GO
ALTER TABLE [dbo].[Multa]  WITH CHECK ADD FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libro] ([IdLibro])
GO
ALTER TABLE [dbo].[Multa]  WITH CHECK ADD FOREIGN KEY([IdPrestamo])
REFERENCES [dbo].[Prestamo] ([IdPrestamo])
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [fk_Alumno] FOREIGN KEY([IdAlumno])
REFERENCES [dbo].[Estudiante] ([IdAlumno])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [fk_Alumno]
GO
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD  CONSTRAINT [fk_Libro] FOREIGN KEY([IdLibro])
REFERENCES [dbo].[Libro] ([IdLibro])
GO
ALTER TABLE [dbo].[Prestamo] CHECK CONSTRAINT [fk_Libro]
GO
/****** Object:  Trigger [dbo].[trg_InsertLibro]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[trg_InsertLibro]
on [dbo].[Libro]
after insert as
begin
select * from inserted
end

GO
/****** Object:  Trigger [dbo].[trg_UpdateMulta]    Script Date: 19/04/2019 13:22:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[trg_UpdateMulta]
on [dbo].[Multa]
after update as
begin
select * from inserted
end

GO
USE [master]
GO
